.app .title {
	font-size: 18px;
}

.green-back {
	color: #3cb371 !important;
}

.red-back {
    color: red !important;
}

.yellow-back {
	color: yellow;
}

.gray-back {
	color: gray;
}

.error-row .x-grid-cell {
    background-color: #FFF000 !important;font-weight: bold; border: 0;
}

